/* Custom CSS for the results section */
#resultsSection {
    background-color: #0b3f51;
    border-radius: 15px 15px 0 0; /* top-left, top-right, bottom-right, bottom-left */
    
}

.result-card {
    border: none; /* Remove border from cards */
    background-color: #f8f9fa; /* Set background color */
    border-radius: 10px; /* Add border radius */
}

.result-value {
    font-size: 24px; /* Set font size for result value */
    color: #ffbe0b; /* Set text color */
    margin-bottom: 5px; /* Add bottom margin for spacing */
}

.result-label {
    font-size: 18px; /* Set font size for result label */
    color: #8ecae6; /* Set text color */
    margin-bottom: 0; /* Remove bottom margin */
}

#resultsSection .highlighted-result {
    color: #fb8500 !important;
    font-weight: bold !important;
}


label {
    font-family: 'Arial', sans-serif; /* Sets the font */
    color: #ffffff; /* Dark grey color for text */
}



.advanced-results-divider {
    position: relative;
    text-align: center;
    margin: 20px 0; /* Adjust the vertical spacing around the divider */
}

.advanced-results-divider hr {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Change the line color if needed */
}

.advanced-results-divider span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 10px; /* Add some padding around the text */
    top: -0.5em; /* Adjust this value to center the text vertically over the line */
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
    background: #0d2439;

}


header {
    margin-bottom: 20px;
}
nav {
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: 100%; /* This ensures the image scales to the width of the card */
    height: auto; /* This keeps the image aspect ratio intact */
}


header {
    margin: 2rem 0;
    text-align: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: 300; /* Roboto's bold weight */
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}
 h5, h4, h3, h2, h6 {
    font-family: 'Roboto', sans-serif;
    color: #daa521; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}
p  {
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
   
}




.btn-primary {
    background-color: #DAA520; /* Dark yellow background */
    border-color: #DAA520; /* Dark yellow border */
}

.btn-primary:hover {
    background-color: #c9911e; /* Slightly darker yellow for hover */
    border-color: #c9911e; /* Slightly darker yellow border for hover */
}


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover */
    background-color: #0b3f51;
}

.card:hover {
    transform: translateY(-5px); /* Slightly raise the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}



input.form-control:disabled {
    background-color: #656667 !important; /* Custom background color */
    color: #da1919 !important; /* Custom text color */
}

input.form-control:disabled::placeholder {
    color: #f5f5f5; /* Custom placeholder text color */
}

select.form-select:disabled {
    background-color: #656667 !important; /* Custom background color */
    color: #f5f5f5 !important; /* Custom text color */
}




.converter-box {
    max-width: 500px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #0b3f51;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.form-control, .btn, .form-select {
    height: 50px;
    border-radius: 5px;
}
.result-display {
    display: flex;
    align-items: center;
    justify-content: center; /* Change this to center the content horizontally */

    padding: 15px;
    background-color: #0b3f51;
    border-radius: 5px;
    margin-top: 20px;
}
.result-display p {
    margin: 0;
    font-size: 20px;
    color: #c9911e;
    text-align: center; /* This is redundant when using flexbox for centering */
}

.conversion-history {
    max-width: 500px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
}

.conversion-history h3 {
    text-align: center;
    color: #c9911e;
}

.conversion-history ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.conversion-history li {
    padding: 10px;
    color: #d7c9a9;
    font-size: 16px;
    text-align: center; /* Ensure the content is centered */
}

.icon-divider {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    margin-top: 10px; /* Space between the conversion text and the icon */
}

.bi-lightning-fill {
    color: #c9911e; /* Use the theme's highlight color for the icon */
    font-size: 1rem; /* Adjust the size of the icon */
}
